<app-header></app-header>
<div>
   <table class="table" style="width:70%;margin-left: 150px;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Topic</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of dataC">
        <th scope="row">{{d.id }}</th>
        <td>{{d.topic }}</td>
        <td>{{d.complaintDate |date }}</td>
        <td><button class="btn btn-danger" (click)="delete(d.id)">Delete</button></td>
        <td><button class="btn btn-success">Edit</button></td>  
      </tr>

    </tbody>
  </table> 
</div>
<app-footer></app-footer>

